Exercise 1: Make an empty list and call it names

In [92]:
names = []

Exercise 2: Make names filled with names of 5 people: Hannah, Victor, Sam, James, Sarah

In [93]:
names = ["Hannah", "Victor", "Sam", "James", "Sarah"]

Exercise 3: Make names sort in reverse. Print out the list using a for-loop

In [28]:
names_reverse = names.copy()
names_reverse.sort(reverse=True)

for i in names_reverse:
    print(i)

Victor
Sarah
Sam
James
Hannah

Exercise 4: Make names sorted alphabetically. Print out the list using while loop

In [33]:
names_alphabet = names.copy()
names_alphabet.sort()

i = 0
while i < len(names_alphabet):
    print(names_alphabet[i])
    i += 1

Hannah
James
Sam
Sarah
Victor

Exercise 5: Pull out the fourth item from names and print it out

In [28]:
print(names[3]) # 0, 1, 2, 3

Sarah

Exercise 6: Pull out the first item from names and print it out

In [29]:
print(names[0]) # list starts at 0

Hannah

Exercise 7: Make a variable named fruits that contains a string "Apples, Oranges, Bananas, Pineapples, Persimmons, Dragonfruit" and make it into a list splitting it by the commas.

In [10]:
fruits = "Apples, Oranges, Bananas, Pineapples, Persimmons, Dragonfruit"
fruits_list = fruits.split(",")
print(fruits_list)

['Apples', ' Oranges', ' Bananas', ' Pineapples', ' Persimmons', ' Dragonfruit']

Exercise 8: Create a list of the first 10 square numbers. i.e. the square of each integer from 1 to 10.

In [2]:
square_numbers = [1**2, 2**2, 3**2, 4**2, 5**2, 6**2, 7**2, 8**2, 9**2, 10**2]
square_numbers

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Exercise 9: Create a multiplication table from 1 to 10

In [95]:
for y in range(1, (10+1)):     
    for x in range(1, (10+1)): 
        print(y*x, end="\t")
    print("")    # adds line break after each row

1	2	3	4	5	6	7	8	9	10
2	4	6	8	10	12	14	16	18	20
3	6	9	12	15	18	21	24	27	30
4	8	12	16	20	24	28	32	36	40
5	10	15	20	25	30	35	40	45	50
6	12	18	24	30	36	42	48	54	60
7	14	21	28	35	42	49	56	63	70
8	16	24	32	40	48	56	64	72	80
9	18	27	36	45	54	63	72	81	90
10	20	30	40	50	60	70	80	90	100

Exercise 10: Write a program that gets test scores from a user and then calculates and displays the average of the scores that have been enter. The output of the program should show the original scores and the average.

In [90]:
test_scores = []

print("Type in the test scores (Type 0 to stop):")

while True:
    get_score = float(input("> "))
    
    if get_score > 0:
        test_scores.append(get_score)
    
    else:
        break

sum = 0
for i in test_scores:
    sum += i

average = sum/len(test_scores)

print("Test Scores:", test_scores)
print("Average:", average)

Type in the test scores (Type 0 to stop):
> 1
> 2
> 3
> 4
> 5
> 0
Test Scores: [1.0, 2.0, 3.0, 4.0, 5.0]
Average: 3.0

Challenge:
Write a program that maintains a list of movies, and the user can list all the movies, add a movie to the list, or delete a movie from the list.

Example

###### COMMAND MENU
```
list - list all movies
add - add a movie
del - delete a movie
exit - exit program 
```

###### Command: list
``` 
 1. Toy Story
 2. Lion King
 3. Frozen
 ```

###### Command: add
 ```
 Name: Snow White
 Snow White was added.
 ```

###### Command: del
```
 Number: 3
 Frozen was deleted.```

In [91]:
def list_movie(m):
    for n in range(0, len(m)):
        print(f"{n+1}. {m[n]}")

def add_movie(m):
    new_Movie = input("Name: ")
    print(new_Movie, "was added.") 
    m.append(new_Movie)

def delete_movie(m):
    list_number = int(input("Number: "))
    if list_number <= 0 or list_number > len(m):    # reject input if # in list does not exist
        print("Does not exist.")
    else:
        print(m[list_number-1], "was deleted.")
        m.pop(list_number-1)

# using functions to reduce repeating print(```) statements

movies = ["Toy Story", "Lion King", "Frozen"]

print("""
###### COMMAND MENU
```
list - list all movies
add - add a movie
del - delete a movie
exit - exit program
```
    """)

while True:
    command = input("###### Command: ")
    command = command.lower()
    print("```")
    
    if command == 'exit':
        break
    
    elif command == "list":
        list_movie(movies)   
    
    elif command == "add":
        add_movie(movies)
        
    elif command == "del": 
        delete_movie(movies)
    
    else:
        continue
        
    print("```\n")

###### COMMAND MENU
```
list - list all movies
add - add a movie
del - delete a movie
exit - exit program
```

###### Command: list
```
1. Toy Story
2. Lion King
3. Frozen
```

###### Command: add
```
Name: Snow White
Snow White was added.
```

###### Command: del
```
Number: 3
Frozen was deleted.
```

###### Command: LIST
```
1. Toy Story
2. Lion King
3. Snow White
```

###### Command: Del
```
Number: 4
Does not exist.
```

###### Command: exIT
```